body
{
	background-color: #0094a8;
}

.site
{
	margin 10px;
	background-color: #fff;
	height: 91%;
}

table
{
	text-align: center;
        border: 1px solid #000;
        padding: 0;
        margin: 0;
        border-spacing: 0px;
        background-color: #f5f5f5;
}

td,tr
{
        border-left: 1px solid #000;
        padding: 0;
        margin: 0;
}

td
{
       border-bottom: 1px solid #000;
}

th
{
        border-bottom: 1px solid #000;
	padding-left: 5px;
	padding-right: 5px;
}

.menu
{
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.menu a:hover
{
	color: #00e1ff;
	text-decoration: underline;
}

.menu a
{
	color: #0094a8;
	text-decoration: none;
}
