body {
	font-size: 62.5%; /* Resets 1em to 10px */
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	background-color: #c2fcc4;
        background-image:url(img/bg.png);
	color: #333;
	text-align: left;
	}

.site {
	margin: 10px;
	border: 1px solid #000;
	background-color: #c2fcc2;
}


.footer {
	color: #555;
	text-align: center;
}

li {
	font-size: 110%;
}

em {
	color: #2b4a2a;
	background-color: #fff;
	text-decoration: underline;
}

em:hover {
	font-weight: bold;
}

/* Form */
form {
	color: #0a4a0a;
}
input, select, textarea {
	border: 1px solid #0d640d;
	background-color: #dbfcdb;
}

label {
	margin: 1em 1em 0 1em;
	font-weight: bold;
}

fieldset {
	border: 1px dashed #0d640d;
	margin: 3ex;
}

fieldset:hover
{
	background-color: #abfca9;
	border: 1px solid #0d640d;
	
}

legend {
	font-size: 200%;
}
/* End Form */

/* Headings */
h1 {
	font-size: 300%;
	color: #0a4a0a;
	font-family: Arial, Helvetica, sans-serif;
	font-variant: small-caps;
}
/* End Headings */
/* Menu */
.menu {
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid #000;
	background-color: #ffffff;
	font-size: 22px;
	padding: 20px 20px 5px 20px;
	font-variant: small-caps;
	text-transform: capitalize;
}

.menu a:hover, .menu a:visited, .menu a:link
{
	text-decoration: none;
	color: #477d47;
	border: 1px solid #fff;
}




.menu a:hover
{
	color: #2a4a2a;
	text-decoration:underline;
	background-color: #c2fcc4;
        background-image:url(img/menu-bg.png);
	border: 1px solid #abfca9;
}


/* End Menu */


table
{
	border: 1px solid #000;
	padding: 0;
	margin: 0;
	border-spacing: 0px;
	background-color: #f5f5f5;
}

td,tr
{
	border-left: 1px solid #000;
	padding: 0;
	margin: 0;
}

td
{
	border-bottom: 1px solid #000;
}

th
{
	border-bottom: 1px solid #000;
}


